
<section class="login-section center">
    <div class="login-form">
        <h2>Welcome</h2>
        <p>Login with your socials</p>


        <div class="social-btns center">
            <button class="btn facebook">Facebook</button>
            <button class="btn google">Google</button>
            <button class="btn github">Github</button>
        </div>
        
        <form class="inputs-login">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Email" required>
            
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <a href="#" class="forgot-password">Forgot password?</a>

            <input type="submit" value="Login">

        </form>

    </div>
    <section class="sign-up center">
        <h3>New here?</h3>
        <p>Sign Up and start this journey</p>
        <button class="signup-btn">Sign up</button>
    </section>
</section>